@font-face{
    font-family:'MiSansNormal' ;  /* 字体名自定义即可 */
    src:url('/fonts/MiSansNormal.woff'); /* 字体文件路径 */
    font-display : swap;
}

svg.icon {
    /* 这里定义svg.icon，避免和Butterfly自带的note标签冲突 */
    width: 1em; height: 1em;
    /* width和height定义图标的默认宽度和高度*/
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

/* 横向排布子菜单 */
#nav .menus_items .menus_item .menus_item_child li {
    display: inline-block;
}
/* 圆角隐藏 */
ul.menus_item_child {
    overflow: hidden;
    border-radius: 5px;
}
/* 调整空隙，确保不会天下武功唯快不破 */
#nav .menus_items .menus_item .menus_item_child {
    margin-top: 0px !important;
}

/*取消搜索按钮动画*/
#search-button a:not(.child):after{
    background-color: transparent!important;
}

/* 全局默认鼠标指针 */
body,
html{
    font-family: 'MiSansNormal', sans-serif;
    cursor: url('https://npm.elemecdn.com/akilar-candyassets/cur/arrow.cur'),auto !important;
}
/* 悬停图片时的鼠标指针 */
img{
    cursor: url('https://npm.elemecdn.com/akilar-candyassets/cur/btn.cur'),auto !important;
}
/* 选择链接标签时的鼠标指针 */
a:hover{
    cursor: url('https://npm.elemecdn.com/akilar-candyassets/cur/link.cur'),auto !important;
}
/* 选中输入框时的鼠标指针 */
input:hover{
    cursor: url('https://npm.elemecdn.com/akilar-candyassets/cur/input.cur'),auto !important;
}
/* 悬停按钮时的鼠标指针 */
button:hover{
    cursor: url('https://npm.elemecdn.com/akilar-candyassets/cur/btn.cur'),auto !important;
}
/* 悬停列表标签时的鼠标指针 */
i,span,p,time:hover{
    cursor: url('https://npm.elemecdn.com/akilar-candyassets/cur/link.cur'),auto !important;
}
/* 悬停页脚链接标签（例如页脚徽标）时的鼠标指针 */
#footer-wrap a:hover{
    cursor: url('https://npm.elemecdn.com/akilar-candyassets/cur/hf.cur'),auto !important;
}
/* 悬停页码时的鼠标指针 */
#pagination .page-number:hover{
    cursor: url('https://npm.elemecdn.com/akilar-candyassets/cur/i.cur'),auto !important;
}
/* 悬停菜单栏时的鼠标指针 */
#nav .site-page:hover{
    cursor: url('https://npm.elemecdn.com/akilar-candyassets/cur/hf.cur'),auto !important;
}

/*10s为加载动画的时间，1为加载动画的次数，ease-in-out为动画效果*/
#web_bg {
    -webkit-animation: imgblur 1.5s 1 ease-in-out!important;
    animation: imgblur 1.5s 1 ease-in-out!important;
}
@keyframes imgblur {
    0% {
        filter: blur(15px);
    }
    100% {
        filter: blur(0px);
    }
}
/*适配使用-webkit内核的浏览器 */
@-webkit-keyframes imgblur {
    0% {
        -webkit-filter: blur(15px);
    }
    100% {
        -webkit-filter: blur(0px);
    }
}
/*Diff代码高亮颜色*/
figure.highlight pre .deletion {
    color: #ff0000!important;
}

figure.highlight pre .addition {
    color: #4cd137!important;
}

/*ip地图圆角*/
.card-ip a>img{
    border-radius: 7px!important;
    width: 100% !important;
    margin-top: 5px!important;
}

/*移动端item悬停圆角*/
#sidebar #sidebar-menus .menus_items .site-page:hover{
    border-radius: 7px;
}

/*侧边栏item悬停圆角*/
#aside-content .card-categories ul.card-category-list > .card-category-list-item a:hover {
    border-radius: 6px;
}
#aside-content .card-archives ul.card-archive-list > .card-archive-list-item a:hover{
    border-radius: 6px;
}

/*顶栏高斯模糊*/
#page-header.nav-visible #nav{
    background: rgba(255, 255, 255, 0.5)!important;
    backdrop-filter: blur(10px)!important;
}

/*侧边标签栏标签字体颜色*/
.card-tags .card-tag-cloud a{
    background: rgba(255, 255, 255, 0.3)!important;
    color: rgba(0,0,0,0.5) !important;
    line-height: 24px;
    padding: 0px 10px!important;
    font-size: 14px!important;
    margin: 5px 1px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 0px rgba(100,100,100,0.1);
}

/*主页信息卡片圆角*/
.card-info #card-info-btn{
    border-radius: 6px;
}

/*侧边标签卡片标签样式魔改*/
#aside-content .card-tag-cloud a {
    display: inline-block;

    padding: 0 4px;
}

/*版权信息链接颜色*/
.post-copyright-info a{
    color: rgba(0,0,0,0.5)!important;
    text-decoration: none!important;
}

/*文章标签图片圆角*/
.aside-list-item .thumbnail,.article-sort-item-img{
    border-radius: 7px;
}

/*文章版权样式修改*/
.post-copyright{
    border-radius: 8px;
    border: none!important;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
}

/*上下文和相关文章添加圆角*/
.pagination-post,.relatedPosts-list>div{
    border-radius: 8px!important;
}

/*目录添加圆角*/
.toc-link{
    border-radius: 6px!important;
}

/*强制不显示歌词*/
.aplayer.aplayer-fixed .aplayer-lrc{
    display: none!important;
}

/*修改插件整体背景*/
.aplayer.aplayer-fixed {
    background: rgba(255,255,255,0.6);
    backdrop-filter: blur(10px);
    border-radius:0 4px 0 0!important;
}

.aplayer-body{
    background: rgba(255,255,255,0.1)!important;
    backdrop-filter: blur(10px);
}

/*修改列表正在播放的歌曲背景*/
.aplayer-list-light{
    background: rgba(255,255,255,0.1)!important;
    backdrop-filter: blur(10px);
}

/*修改歌曲列表背景*/
.aplayer-list {
    border: 1px solid #f1f1f1!important;
    border-radius: 4px!important;
}

/*修改歌曲列表鼠标悬停时背景*/
.aplayer-list li:hover {
    background: rgba(255, 255, 255, 0.1) !important;
    backdrop-filter: blur(15px);
}

/*修改播放列表正在播放歌曲左侧提示条颜色*/
.aplayer-list-cur{
    background: #666!important;
}

/*修改进度条颜色，不设置此项默认是蓝色 #2980b9*/
.aplayer-bar .aplayer-played,.aplayer-thumb{
    background: #4c4948!important;
}

/*删除底部歌曲播放信息边框*/
.aplayer-info{
    border: none!important;
}

/*删除歌曲列表边框*/
.aplayer-list li {
    border: none!important;
}

/*删除歌词按钮*/
.aplayer-icon.aplayer-icon-lrc{
    display: none!important;
}

/*twikoo评论框提示文字颜色*/
.el-input__inner::placeholder{
    color: #777!important;
}
.el-textarea__inner::placeholder{
    color: rgba(0,0,0,0.5)!important;
}

/*twikoo评论信息颜色*/
.tk-extras{
    color: rgba(0,0,0,0.5) !important;
}

/*主页文章卡片信息字体颜色*/
.recent-post-item .recent-post-info .article-meta-wrap,.article-meta__categories{
    color: rgba(0,0,0,0.5) !important;
}

/*侧边栏最新文章时间字体颜色*/
.card-recent-post .aside-list-item .content time{
    color: rgba(0,0,0,0.5) !important;
}

/*主页分页按钮高斯模糊*/
#pagination .pagination .current{
    background: rgba(255, 184, 184, 0.6)!important;
    backdrop-filter: blur(15px)!important;
    border-radius: 6px;
}

#pagination .page-number,.prev,.next{
    background: rgba(255, 255, 255, 0.6)!important;
    backdrop-filter: blur(10px)!important;
    color: rgba(255,255,255,0.8);
}

/*归档页面分页按钮*/
#archive #pagination .pagination > * {
    display: inline-block;
    margin: 0 6px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 6px;
}

/*网站卡片描述字体颜色*/
.site-card .info .desc{
    color: #555!important;
}

/*搜索框颜色*/
#local-search .search-dialog .local-search-box input{
    background: rgba(255, 255, 255, .5)!important;
}

/*页脚版权字体颜色*/
#footer-wrap .copyright{
    width: 180px;
    margin: auto;
    margin-bottom: 10px;
    color: rgba(0,0,0,0.6);
    padding-inline: 5px;
    border-radius: 7px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    font-weight: bold;
}

[data-theme="dark"]
#aside-content .card-widget{
    background: rgba(0, 0, 0, 0.5)!important;
}
[data-theme="dark"]
div#post{
    background: rgba(0, 0, 0, 0.5)!important;
}
[data-theme="dark"]
#archive{
    background: rgba(0, 0, 0, 0.5)!important;
}
[data-theme="dark"]
#page{
    background: rgba(0, 0, 0, 0.5)!important;
}
[data-theme="dark"]
#sidebar-menus{
    background: rgba(0, 0, 0, 0.5)!important;
}
[data-theme="dark"]
#category{
    background: rgba(0, 0, 0, 0.5)!important;
}
[data-theme="dark"]
#tag{
    background: rgba(0, 0, 0, 0.5)!important;
}
[data-theme="dark"]
.recent-post-item{
    background: rgba(0, 0, 0, 0.5)!important;
}

/*修改插件主体在深色模式下的样式*/
[data-theme="dark"]
.aplayer.aplayer-fixed {
    background: rgba(0, 0, 0, 0.6)!important;
    color: #e1e1e1;
}

/*修改深色模式下鼠标悬停在列表时的样式*/
[data-theme="dark"]
.aplayer-list li:hover {
    background: rgba(0, 0, 0, 0.5) !important;

}

/*修改歌曲列表在深色模式下的样式*/
[data-theme="dark"]
.aplayer-list {
    background: rgba(12, 12, 12, 0) !important;
    border: 1px solid #0d0d0d!important;
}

/*修改深色模式下列表当前选中的歌曲样式*/
[data-theme="dark"]
.aplayer-list-light{
    background: rgba(0,0,0,0.5)!important;
}

/*深色模式下给歌曲封面增加遮罩*/
[data-theme="dark"]
.aplayer-pic {
    -webkit-filter: brightness(.7)!important;
    filter: brightness(.7)!important;
}

/*分类卡片适配深色模式*/
[data-theme="dark"]
.categoryBar{
    background: rgba(0,0,0,0.5)!important;
}

[data-theme="dark"]
.categoryBar-list-item{
    filter: blur(0) brightness(0.8)!important;
}

[data-theme="dark"]
.vinyl-cover{
    filter: blur(0) brightness(0.8)!important;
}

/*深色模式下版权信息颜色*/
[data-theme="dark"]
.post-copyright-info a{
    color: rgba(255,255,255,0.7)!important;
}

/*深色模式下主页分页按钮颜色*/
[data-theme="dark"]
#pagination .extend{
    background: rgba(0, 0, 0, 0.6)!important;
    /*color: rgba(255,255,255,0.8);*/
}

[data-theme="dark"]
#pagination .page-number{
    background: rgba(0, 0, 0, 0.6)!important;
    /*color: rgba(255,255,255,0.8);*/
}

/*深色模式下搜索栏颜色*/
[data-theme="dark"]
#local-search .search-dialog .local-search-box input{
    background: rgba(0, 0, 0, 0)!important;
}

[data-theme="dark"]
.search-dialog{
    background: rgba(0, 0, 0, 0.6)!important;
}

/*深色模式下顶栏颜色*/
[data-theme="dark"]
#page-header.nav-visible #nav{
    background: rgba(0, 0, 0, 0.5)!important;
}

/*深色模式下网站卡片字体颜色*/
[data-theme="dark"]
.site-card .info .title{
    color: rgba(255,255,255,.85) !important;
}

[data-theme="dark"]
.site-card .info .desc{
    color: rgba(255,255,255,.5) !important;
}

/*深色模式下主页文章卡片信息字体颜色*/
[data-theme="dark"]
.recent-post-item .recent-post-info .article-meta-wrap{
    color: rgba(255,255,255,0.6) !important;
}
[data-theme="dark"]
.recent-post-item .recent-post-info .article-meta__categories{
    color: rgba(255,255,255,0.6) !important;
}

/*深色模式下侧边标签栏标签字体颜色*/
[data-theme="dark"]
.card-tags .card-tag-cloud a{
    color: rgba(255,255,255,0.6) !important;
}

/*深色模式下侧边栏最新文章时间字体颜色*/
[data-theme="dark"]
.card-recent-post .aside-list-item .content time{
    color: rgba(255,255,255,0.5) !important;
}

/*深色模式下页脚版权字体颜色*/
[data-theme="dark"]
#footer-wrap .copyright{
    color: rgba(255,255,255,0.6);
    background: rgba(0, 0, 0, 0.5);
}

/*深色模式下twikoo评论框提示文字颜色*/
[data-theme="dark"]
.el-textarea__inner::placeholder{
    color: rgba(255,255,255,0.7)!important;
}

/*深色模式下twikoo评论信息颜色*/
[data-theme="dark"]
.tk-extras{
    color: rgba(255,255,255,0.6) !important;
}

/*深色模式下侧边标签栏标签魔改*/
[data-theme="dark"]
.card-tags .card-tag-cloud a{
    background: rgba(0, 0, 0, 0.1)!important;
    box-shadow: 0px 0px 3px 0px rgba(220,220,220,0.10);
}