#page-header.nav-visible #nav {
    background: rgba(255, 255, 255, .4) !important;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px) !important;
}

/* 首页 卡片文章背景透明 */
#recent-posts>.recent-post-item,.layout>div:first-child:not(.recent-posts),.layout_post>#page,.layout_post>#post,.read-mode .layout_post>#post{
    /* 白色透明度 */
    background: rgba(255,255,255,.4);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

/* 侧边栏设置 */
#aside-content>.card-widget,.sticky_layout>.card-widget{
    /* 白色透明度 */
    background: rgba(255,255,255,.4) !important;
}

#footer{
    background:transparent;
}

#aside-content {
    background: rgba(255, 255, 255, 0)
}

#aside-content .card-widget.card-info {
    background: rgba(255, 255, 255, .4);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

#aside-content .card-widget {
    background: rgba(255, 255, 255, .4);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

#aside-content .card-archives ul.card-archive-list>.card-archive-list-item a:hover,
#aside-content .card-categories ul.card-category-list>.card-category-list-item a:hover {
    background-color: rgba(255, 255, 255, .4)
}

.categoryBar {
    background: rgba(255, 255, 255, .4);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

#aside-content #card-toc .toc-content .toc-link.active {
    background: rgba(255, 184, 184, .4);
    font-size: 120%;
    /*font-weight: bold;*/
}

#aside-content #card-toc .toc-percentage{
    color: rgba(0,0,0,0.5);
}

#aside-content #card-toc .toc-content .toc-link:hover {
    color: rgba(0, 0, 0, .8)
}

#aside-content #card-toc .toc-content .toc-link.active:hover{
    color: rgba(255, 255, 255, 1)
}

.search-dialog {
    background: rgba(255, 255, 255, .4);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    border-radius: 15px
}

#search-mask {
    background: rgba(255, 255, 255, 0)
}

#sidebar #sidebar-menus.open {
    background: rgba(255, 255, 255, .4);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

#sidebar #menu-mask {
    background: rgba(255, 255, 255, 0)
}

#footer {
    background: 0 0 !important
}

#footer::before {
    background: 0 0 !important
}

#page-header.full_page {
    background: 0 0 !important
}

#page-header.full_page:before {
    background-color: transparent !important
}

[data-theme=dark] #page-header.nav-visible #nav {
    background: rgba(29,29,31,0.72) !important;
}

[data-theme=dark] #aside-content #card-toc .toc-content .toc-link.active {
    background: rgba(255,255,255,0.1);
}

[data-theme=dark] #aside-content #card-toc .toc-percentage{
    color: rgba(255,255,255,0.5);
}

[data-theme=dark] #aside-content #card-toc .toc-content .toc-link:hover {
    color: rgba(255, 255, 255, .8)
}

[data-theme=dark] #aside-content #card-toc .toc-content .toc-link.active:hover{
    color: rgba(255, 255, 255, 1)
}

[data-theme=dark] #footer::before {
    background: 0 0 !important
}

[data-theme=dark] .recent-post-item {
    background: rgba(29,29,31,0.72) !important
}

[data-theme=dark] #aside-content .card-widget {
    background: rgba(29,29,31,0.72) !important
}

[data-theme=dark] #page {
    background: rgba(29,29,31,0.72) !important
}

[data-theme=dark] #post {
    background: rgba(29,29,31,0.72) !important
}

[data-theme=dark] #archive {
    background: rgba(29,29,31,0.72) !important
}

[data-theme=dark] #category {
    background: rgba(29,29,31,0.72) !important
}

[data-theme=dark] #tag {
    background: rgba(29,29,31,0.72) !important
}

[data-theme=dark] #pagination .page-number {
    background: rgba(29,29,31,0.72) !important
}

[data-theme=dark] #pagination .extend {
    background: rgba(29,29,31,0.72) !important
}

[data-theme=dark] .search-dialog {
    background: rgba(29,29,31,0.72) !important
}

[data-theme=dark] #footer-wrap .copyright {
    color: rgba(255, 255, 255, .6);
    background: rgba(29,29,31,0.72)
}

[data-theme=dark] #card-info-btn{
    background: rgba(0,0,0,0.5) !important;
}

[data-theme=dark] #card-info-btn:hover{
    background: rgba(0,0,0,0.9) !important;
}

