/* 首页 卡片文章背景透明 */
#recent-posts>.recent-post-item,.layout>div:first-child:not(.recent-posts),.layout_post>#page,.layout_post>#post,.read-mode .layout_post>#post{
    /* 白色透明度 */
    background: rgba(255,255,255,.5);
}

/* 侧边栏设置 */
#aside-content>.card-widget,.sticky_layout>.card-widget{
    /* 白色透明度 */
    background: rgba(255,255,255,.5) !important;
}

#footer{
    background:transparent;
}

/*#web_bg {*/
/*    !* 背景图地址 *!*/
/*    background: url(https://img.gejiba.com/images/d4d37e2e2f082a64c9ad63e91fd0e4b1.gif);*/
/*    !* 平铺 *!*/
/*    background-repeat: no-repeat;*/
/*    !* 背景图大小 *!*/
/*    background-size: cover;*/
/*}*/